/* home css */
.movie_img {
  position: relative;
  width: 100%;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}
.movie_title{
  margin: 0;
  font-weight: 300;
  text-decoration: none;
}
.movie_rating,.movie_year{
  font-size: 14px;
  text-align: center;
  color: 121212;
}
.movie_title{
  padding: 5px;
  margin-bottom: 10px;
}
.movie_title a {
  margin-bottom: 5px;
  font-size: 24px;
  color: #2c2c2c;
  text-decoration: none;
}
.movie_title a:hover{
  color: cadetblue;
}
.movie_genres {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
/* detail pages */
.detail_container{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  box-sizing: border-box;
}
.background_img{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 50vh;
}
.contents_wrap{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  box-sizing: border-box;
}
.movie_content{
  width: 70%;
  margin: 0 auto;
  margin-top: 8%;
}
.content_text{
  margin-top: 50px;
}
.content_text h4{
  margin-bottom: 15px;
}
.movie:hover{
  transform: scale(1.1);
  transition: all 0.4s;
}
/* img */
.detail_img_medium{
  border-radius: 4px;
  border-width: 0;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  margin: 7px 24px 0 0;
  width: 20vh;
}
/* 장르 button */
.movie_genres span{
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  background-color: rgba(255, 38, 0, 0.7);
  margin-right: 5px;
}
.movie_genres li{
  border-radius: 5px;
  padding: 0px 7px 0px 7px;
  background-color: rgba(255, 38, 0, 0.9);
  margin-right: 5px;
}
.movie_genres span:nth-child(1){
  margin-left: 5px;
}
.movie_genres li{
  margin-right: 10px;
  font-size: 14px;
}
.movie_description{
  border: 1px solid #fff;
  padding: 10px;
  margin-bottom: 30px;
}
@media screen and (max-width : 1280px){
  .movie_img{
    width: 100%;
  }
}
@media all and (max-width: 414px) {
  .contents_wrap{
    height: 100vh;
    padding: 0;
  }
  .movie_content{
    width: 100%;
    margin: 0 auto;
    margin-top: 0;
    padding: 10px 20px 0px 20px;
  }
  .background_img{
    height: 100vh;
  }
  .movie_title a{
    font-size: 15px;
  }
}
@media all and (max-width: 375px) {
  .background_img{
    height: 85vh;
  }
  .detail_img_medium{
    position: absolute;
    top: -80%;
    width: 49vh;
  }
  .detail_container{
    background-color: rgba(0,0,0,0);
  }
  .contents_wrap{
    position: relative;
    background-color: rgba(0,0,0,0.9);
  }
  .movie_content{
    background-color: rgba(0,0,0,0);
  }
}